# systemd container quadlet
[Unit]
Description=soulseekarr container
Requires=podman.socket
After=podman.socket

[Container]
ContainerName=soulseekarr
Image=docker.io/cryobry/soulseekarr:latest
Pull=newer
Volume=%h/.config/soulseekarr:/data:Z
Volume=%h/downloads/htpc:/downloads:z
Environment=LOOP_INTERVAL=300
Environment=TZ=UTC

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
